Repository sergeirocks100/GearStation, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Sprites, Sound

.github/labeler.yml:

# Code changes

Code: '**/*.dm'

# Sprite changes

Sprites: '**/*.dmi'

# Sound changes

Sound: 'sound/**/*'

initial commit
  icons/obj/computer.dmi
Labels: Sprites

initial commit (#20)
  icons/obj/computer.dmi
Labels: Sprites

Automatic changelog generation for PR #20 [ci skip]
  html/changelogs/AutoChangeLog-pr-20.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-20.yml
Labels: none

Update in_character_filter.txt
  config/in_character_filter.txt
Labels: none

Update OmegaStation.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
Labels: none

fuck
  _maps/map_files/OmegaStation/OmegaStation.dmm
Labels: none

Update OmegaStation.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
Labels: none

Update OmegaStation.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
Labels: none

Update LambdaStation.dmm
  _maps/map_files/LambdaStation/LambdaStation.dmm
Labels: none

Update LambdaStation.dmm
  _maps/map_files/LambdaStation/LambdaStation.dmm
Labels: none

Update LambdaStation.dmm
  _maps/map_files/LambdaStation/LambdaStation.dmm
Labels: none

Update LambdaStation.dmm
  _maps/map_files/LambdaStation/LambdaStation.dmm
Labels: none

Update LambdaStation.dmm
  _maps/map_files/LambdaStation/LambdaStation.dmm
Labels: none

Lambda updates (#21)
  _maps/map_files/LambdaStation/LambdaStation.dmm
Labels: none

Automatic changelog generation for PR #21 [ci skip]
  html/changelogs/AutoChangeLog-pr-21.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-21.yml
Labels: none

Update OmegaStation.dmm (#22)
  _maps/map_files/OmegaStation/OmegaStation.dmm
Labels: none

Automatic changelog generation for PR #22 [ci skip]
  html/changelogs/AutoChangeLog-pr-22.yml
Labels: none

fixes some pipes being visible where they shouldn't on Lima
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: none

forgot some pipes
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-22.yml
Labels: none

connects some maintenance wires on Lima
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
Labels: none

initial commit
  code/controllers/configuration/entries/general.dm
  code/game/world.dm
  config/config.txt
Labels: Code

initial commit (#23)
  code/controllers/configuration/entries/general.dm
  code/game/world.dm
  config/config.txt
Labels: Code

Automatic changelog generation for PR #23 [ci skip]
  html/changelogs/AutoChangeLog-pr-23.yml
Labels: none

Update config.txt
  config/config.txt
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-23.yml
Labels: none

Update config.txt
  config/config.txt
Labels: none

initial commit
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: none

replaces the title screen
  icons/runtime/default_title.dmi
Labels: Sprites

Update LimaStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

Update README.md
  README.md
Labels: none

Update LimaStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: none

fuck
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: none

Lima updates (#24)
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: none

Automatic changelog generation for PR #24 [ci skip]
  html/changelogs/AutoChangeLog-pr-24.yml
Labels: none
