Repository sergeirocks100/GearStation, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Sprites, Sound

Improves glove finger cutting. (#14)
  code/modules/clothing/gloves/_gloves.dm
Labels: Code

manually creates the changelog for #14, because i didn't realize the qol tag didn't exist on Gear
  html/changelogs/AutoChangeLog-pr-14.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-14.yml
Labels: none

fixes a spelling error in the legal notice
  .github/CONTRIBUTING.md
Labels: none

gets rid of a lot of serverside shit from the repo configs
  config/admins.txt
  config/config.txt
  config/dbconfig.txt
  config/game_options.txt
  config/motd.txt
Labels: none

Revert "gets rid of a lot of serverside shit from the repo configs"
  config/admins.txt
  config/config.txt
  config/dbconfig.txt
  config/game_options.txt
  config/motd.txt
Labels: none

the filters aren't public anymore, so now i can filter out the stuff i need to
  config/in_character_filter.txt
Labels: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

initial commit
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: none

Update BoxStation.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: none

Box improvements. (#15)
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: none

Automatic changelog generation for PR #15 [ci skip]
  html/changelogs/AutoChangeLog-pr-15.yml
Labels: none

adds more words to the filter
  config/config.txt
  config/in_character_filter.txt
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-15.yml
Labels: none

removes "Aspie" from the list of station names
  strings/station_names.txt
Labels: none

fixes library console directions on all maps
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
Labels: none

fixes library console directions on all maps (#16)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: none

Automatic changelog generation for PR #16 [ci skip]
  html/changelogs/AutoChangeLog-pr-16.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-16.yml
Labels: none

initial commit
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Code

initial commit (#17)
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Code

Automatic changelog generation for PR #17 [ci skip]
  html/changelogs/AutoChangeLog-pr-17.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-17.yml
Labels: none

add widescreen to the github config
  config/config.txt
Labels: none

config updates
  code/game/world.dm
  config/motd.txt
Labels: Code

initial commit
  code/game/world.dm
Labels: Code

add example config
  config/config.txt
Labels: none

fuck
  code/controllers/configuration/entries/general.dm
Labels: Code

Ports the config-side Discord hub link from Bee (#18)
  code/controllers/configuration/entries/general.dm
  code/game/world.dm
  config/config.txt
Labels: Code

Automatic changelog generation for PR #18 [ci skip]
  html/changelogs/AutoChangeLog-pr-18.yml
Labels: none

config updates
  config/config.txt
  config/motd.txt
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-18.yml
Labels: none

removes a duplicate holopad from Box bridge
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: none

initial commit
  code/game/objects/structures/artstuff.dm
Labels: Code

Fixes the paintings showing an error icon. (#19)
  _maps/map_files/BoxStation/BoxStation.dmm
  code/game/objects/structures/artstuff.dm
Labels: Code

Automatic changelog generation for PR #19 [ci skip]
  html/changelogs/AutoChangeLog-pr-19.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-19.yml
Labels: none

update library console sprites
  icons/obj/computer.dmi
Labels: Sprites

Revert "update library console sprites"
  icons/obj/computer.dmi
Labels: Sprites

.github/labeler.yml:

# Code changes

Code: '**/*.dm'

# Sprite changes

Sprites: '**/*.dmi'

# Sound changes

Sound: 'sound/**/*'
